* {
	padding: 0;
	margin: 0;

	box-sizing: border-box;
}

body {
	font-size: 14px;
	line-height: 24px;
}

ul {
	list-style: none;
}

a {
	color: inherit;
}

input, textarea, select {
	outline: none;
}